 

 .container{ 

    width: 100%;
    max-width: 1280px; 
    margin: 0 auto;
    padding: 0 20px;
   
 }  
 .images{ 
    width: 100%;
    margin-bottom: 50px;

} 

 .js-list{ 
   
    display: flex; 
    flex-wrap: wrap;  
    justify-content: center; 
    margin: 0 auto;
    list-style: none; 
    padding: 20px 0px; 
    background-color: cadetblue;  
    border-radius: 20px;
    
 } 
 .list-item{ 
    position: relative;
    width: 350px; 
    margin: 15px; 
    border-radius: 15px ;
    padding: 10px 20px; 
    background-color: chartreuse; 
    text-align: center; 
   
   
   
 } 
 .item-title{ 
    display: block;
    font-size: 28px; 
    color: red;
 } 
 .itim-nambr{ 

    display: block; 
    position: absolute;  
    padding: 5px 10px; 
    border-radius: 5px;
    background-color: darkcyan;
    color: #fff;
    top: -3px;
    right: -3px;

 } 
.item-text{ 

    font-size: 22px; 
    color: #fff;
    font-weight: 600; 
    padding: 5px 10px;
    background-color: black;
    border-radius: 5px 5px 5px 5px; 
  

}
.item-img{ 
   display: block;
   width: 150px;
   height: 150px;
   margin: 0 auto;
   margin-bottom: 30px;
} 
.item-candy_count{ 
   
   margin-top: 10px;
   font-size: 18px;
   font-weight: 500;
   color: blue;

} 
.item-weaknesses{ 

   font-size: 18px;
   font-weight: 500;
   color: darkred;
}   

.js-btn{ 

   width: 100px;
   height: 40px;
} 
.item-title{ 

   text-transform: capitalize;  
  
} 
.btn-icon{ 
  
   font-size: 40px; 
   border: none;

}  
.item-star{ 
  
  margin: 10px 0; 
  
}
.item-star:active{ 

   background-image: url("../img/star-icon.svg");
}
.temp-butten-dalet{ 

   font-size: 20px; 
   border: none;
   background-color: transparent;
  
} 
.bookmarl-list{ 

   padding: 0;
   margin: 0;
   list-style-type: none;
} 
.temp-butten-dalet{ 

   color: red; 
   font-size: 24px;
   font-weight: 500;
}